.taskContainer {
    margin-block: 1rem;
    padding-left: 0;
}

.taskItem {
    list-style-type: none;
}

.taskContent {
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.actionsContainer {
    display: flex;
    gap: 8px;
}

.date {
    font-size: 0.8rem;
    color: #999;
}

.completed {
    text-decoration: line-through;
}
